
/* Le plus beau css de touute ma vie,
j'espere qu'elle sera courte si je continue comme ca ....
(Ceci est une blague je ne veut pas mourire !)
*/

@font-face {
	font-family: "ZeroThree";
	src: url('../fonts/zerothre.ttf');
}

body {
	font-family: 'ZeroThree';
	background-color: #FBDE18;
}

img {
	width: 100px;
	height: 100px;
}

#buy_zone {
}

#produits, #categories, #panier {
	padding: 10px;
}

.alert {
	padding-bottom: 0;
	padding-right: 0;
}

#alert {
	background-color: #E30613;
	height: 135px;

	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;

	border: 10px solid #E30613;

	border-radius: 5px;
}

#categories {
	background-color: #FBDE18;
	min-height: 500px;
}

#produits {
	background-color: #1778A1;
	min-height: 500px;
}

.categorie {
}

.produit{
	display: inline-block;

}

#panier {
	background-color: #3194BE;
	min-height: 500px;
}

.panier {
	padding-right: 0;
}

.need {
	height: 100px;
	width: 100px;
	background-color: #FBDE18;
	display: inline-block;
}

.need .place {
	text-align: center;
	vertical-align: top;
	padding: 0;
	font-size: 23px;
}

.need img {
	height: 60px;
	width: 80px;
	padding-left: 20px;
	margin-top: -10px;
}

.need .qt {
	text-align: right;
	vertical-align: bottom;
	font-size: 23px;
	margin-top: -7px;
}

/*
** Navigation Bar Custom Color (NBCC pour les intimes)
*/
.navbar-default {
background-color: #1778a1;
border-color: #3194be;
}
.navbar-default .navbar-brand {
color: #fbde18;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
color: #ff000e;
}
.navbar-default .navbar-text {
color: #fbde18;
}
.navbar-default .navbar-nav > li > a {
color: #fbde18;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #ff000e;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
background-color: #1778a1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
color: #fbde18;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
color: #ff000e;
background-color: #3194be;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
background-color: #1778a1;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #ff000e;
background-color: #3194be;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #ff000e;
background-color: #3194be;
}
.navbar-default .navbar-toggle {
border-color: #3194be;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #3194be;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #fbde18;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
border-color: #fbde18;
}
.navbar-default .navbar-link {
color: #fbde18;
}
.navbar-default .navbar-link:hover {
color: #ff000e;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
color: #fbde18;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
color: #ff000e;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
color: #ff000e;
background-color: #3194be;
}
}